.bg_img{
    height: 50vh;
    background-image: url('https://i.ibb.co/1vs7Q2Z/pexels-victor-freitas-949132.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%)
    
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}
@media screen and (max-width: 700px) {
    .grid{
        grid-template-columns: 1fr;
    }
}
